---
---

/* Base
-------------------------------------------------- */

body {
  line-height: 1.5;
  font-size: 16px;
}

/* Responsive images */
img {
  max-width: 100%;
  height: auto;
}

/* Layout
-------------------------------------------------- */

/*
 * Sidebar
 */

/* 1. Add padding
 * 2. Add background color
 * 3. Add color
 */
.sidebar {
  box-sizing: border-box;
  padding: 40px; /* 1. */
  background-color: #202020; /* 2. */
  color: #fff; /* 3. */
}

.sidebar .container {
  padding-left: 0;
  padding-right: 0;
}

/* 1. Make sidebar stick to side on larger screens
 * 2. Width of sidebar
 */
@media (min-width: 48em) {
  .sidebar {
    position: fixed; /* 1. */
    top: 0; /* 1. */
    left: 0; /* 1. */
    bottom: 0; /* 1. */
    width: 280px; /* 2/ */
  }

  .sidebar .container {
    height: 100%;
  }

  @supports (display: flex) {
    .sidebar .container {
      display: flex;
      flex-direction: column;
    }
  }

  .sidebar-social {
    margin-top: auto;
  }
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
}

.sidebar a:hover,
.sidebar a:focus {
  text-decoration: underline;
}

.sidebar-about {
  margin-bottom: 1.5em;
}

.sidebar-nav-item {
  &--active {
    font-weight: 600;
  }
}

.sidebar-about .site-title {
  font-size: 3rem;
}

.sidebar-about .site-tagline {
  font-size: 2.5rem;
}

.sidebar-about .site-title,
.sidebar-about .site-tagline {
  font-weight: 400;
}


.sidebar-nav {
  ul {
  }

  ul li {
    list-style-type: none;
  }
}

/* Sidebar social */
.sidebar-social {
  margin-top: auto;

  ul {
    margin-bottom: 0;
    list-style-type: none;
  }

  ul li {
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 0;
  }

  li a {
    font-size: 1.6rem;
  }
}


/*
 * Content container
 */

.content {
  padding: 40px;
}

@media (min-width: 768px){
  .content {
    padding: 40px;
    margin-left: 280px;
    max-width: 640px;
    // width: 100%;
    width: calc(100% - 300px);
  }
}


/*
 * Reverse layout support
 */

@media (min-width: 550px) {
  .layout-reverse .sidebar {
    right: 0;
    left: auto;
  }
  .layout-reverse .content {
    margin-left: auto;
    margin-right: 300px;
  }
}


/* Components
-------------------------------------------------- */


/*
 * Blog post
 */

// .post {
//   .post-header {

//   }
//   .post-title {
//     font-size:38px;
//   }
//   .post-lead {

//   }

//   .post-content {

//   }
//   .post-footer {

//   }

//   h2 {
//     font-size: 32px;
//   }
//   h3 {
//     font-size: 26px;
//   }
//   h4 {
//     font-size: 22px;
//   }
//   h5, h6 {
//     font-size: 20px;
//   }

// }


/* Theming
-------------------------------------------------- */