---
# keep these delimites to it can be processed by Jekyll
---


@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendor/normalize',
  'vendor/skeleton';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/lists',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/sidebar',
  'layout/main',
  'layout/footer';

// 5. Components
@import
  'components/navigation',
  'components/posts',
  'components/resume',
  'components/page',
  'components/social-links',
  'components/site-title',
  'components/button';

// uncomment to try tests sass partial
// @import
//   'misc/test';