/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  color: #222;
  /*   font-size: 1em; */
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
  background: #fafafa;
}

button,
.button {
  background: #fff;
}

/*
 * Site
 */

.site {
  margin-top: 4rem;
}

/*
 * Sidebar
 */

.site-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;


  padding: 1.5rem .5rem .5rem;
  margin-bottom: 1.5rem;

  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;


}

/* on tablet and larger, fix the left sidebar position. */
@media (min-width: 550px) {
  .site-sidebar {
    position: fixed;
    align-items: space-between;
  }
}

/* remove underline on hover state for sidebar links */
.site-sidebar a:hover {
  text-decoration: none;
}

/* on mobile make a row */
.site-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;

  text-decoration: none;
  color: inherit;
  margin-bottom: 1.5rem;
}

/* on larger screens turn the row insto a column  */
@media (min-width: 550px) {
  .site-info {
    flex-direction: column;
  }
}

/* span is used to keey the site title and tagline togethter */
.site-info span {
  display: inline-block;
  padding-left: 1.5rem;
  text-align: left;
}

/* after mobile, center */
@media (min-width: 550px) {
  .site-info span {
    text-align: center;
  }
}


.site-logo {
  width: 70px;
  height: 70px;

  margin-bottom: 0;
  padding: 0.25rem;

  /*  theming  */
  border-radius: 50%;
  border: 1px solid #bbb;
  background: #efefef;
}

/* make he logo larger on larger screen sizes
   and add bototm spacing */
@media (min-width: 550px) {
  .site-logo {
    width: 100px;
    height: 100px;
    margin-bottom: 1.5rem;
  }
}


.site-title {
  font-size: 20px;
}

@media (min-width: 500px) {
  .site-title {

  }
}


.site-title,
.site-tagline {
 margin-bottom: .5rem;
}

.site-tagline {
  color: #555;
}


.site-sidebar ul {
  list-style-type: none;
}

.site-sidebar li {
}

.site-sidebar li a:not(:hover) {
  color: inherit;
  text-decoration: none;
}

.site-sidebar li a:hover {
  text-decoration: none;
}

/* make navigation items slightly larger font size
   except social media links */
.site-links:not(.site-links__social) {
  font-size: 1.8rem;
}



/*
 * Project Gallery
 */

#gallery {
}

/* Cards  */

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}


/*
 * 1. no top spacing, image meets cards edge.
 */
.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0 1rem; /* 1. */
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;

  /* transistion: base */
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
  background: #fff;
}

/* at 750px screen width, two column rows */
@media (min-width: 750px) {
  .card {
    flex: 0 1 48%;
  }
}

/* transition: active */

.card.active,
.card:hover {
  transition: all 0.1s ease-in;
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.card a {
  text-decoration: none;
}

.card a:not(:hover) {
  color: inherit;
  text-decoration: none;
}

.card-figure {
  margin: 0;
  padding: 0;
}

.card-image {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1.5rem;
}

.card-content {
}

.card-title {
  font-size: 20px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}