---
---

@charset "utf-8";

/*

Table of contents
--------------------------------------------------
01. Abstracts
02. Vendors
03. Base
04. Layout
05. Components
06. Pages
07. Theme
*/

/* #01.Abstracts
-------------------------------------------------- */
@import 'abstracts/variables';

/* #02.Vendors
-------------------------------------------------- */
/* #03.Base
-------------------------------------------------- */
/* resets */
body {
  position: relative;
  color: #555;
  background-color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
}

/* typography */
@import 'modules/typography';


.list-unstyled {
  list-style-type: none;
}


/* #04.Layout
-------------------------------------------------- */

@import 'layout/header';
@import 'layout/navigation';
@import 'layout/main';
@import 'layout/footer';


/*
 * footer
 */

.site-footer {}

.site-info {
  text-align: center;
  list-style-type: none;

  li {
    display: inline;
  }
}


/* #05.Components/Modules
-------------------------------------------------- */
@import 'modules/blog_post';

/* #06.Pages
-------------------------------------------------- */
/* #07.Theme
-------------------------------------------------- */