/* education section */


.eduction-item {
}
.eduction-item__header {
  display: flex;
  // flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 80%;
  
  .area {
    font-weight: 700;
  }
  .date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.eduction-item__content {
  
}