/* work section */

.work-list {
  @extend .list-unstyled;
  margin-top: 0;
}

.work-list__item {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: $global-padding / 2;
}

.work-list__item-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

// company name
.work-list__item-name {
  font-weight: 700;
}

.date {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  .date-start {
    
  }
  .date-end {
    
  }
}


.work-list__item-meta {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  // margin: auto;
  
  .position {
    font-weight: 700;
  }
  .website {
    
  }
}


.work-list__item-summary {
  
}

// footer / highlights
work-list__item-footer {
  .highlights {
    list-style-type: disc;
    color: #bbb;
    font-size: 80%;
  }
}