---
title: Home
layout: page
---

<p class="lead">Hello, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus reprehenderit voluptas, accusantium dolorum quam, magni est quae, ex fugit nemo autem quasi nisi. Aliquam, quia doloribus error! Quae, voluptatibus minima?</p>

<h2 class="subheader">Latest posts:</h2>

{% for post in site.posts %}

<div class="blog-post">

  <h3 class="blog-post-title">
    <a href="{{post.url}}" title="{{post.title | capitalize }}">{{post.title | capitalize}}</a>
  </h3><!-- /.blog-post-title -->

  <div class="blog-post-summary">
    {{ post.excerpt }}
  </div><!-- /.blog-post-summary -->

  <p class="blog-post-meta">
    {% comment %}
    Blog post meta, checks to see if the following meta item exists:
    - date
    - categories
    if meta item does exist, print the meta item
    {% endcomment %}

    {% if post.date %}
      Posted on: <time datetime="{{post.date | date: "%m/%d/%Y" }}">{{post.date | date: "%m/%d/%Y" }}</time>.
    {% endif %}

    {% if post.categories %}
      <span class="sep">&vert;</span>
      Posted in:
      {% for category in post.categories %}
        <a href="{{site.baseurl}}/category/{{category | slugify}}">{{category | capitalize}}</a>{% if forloop.last != true %}, {% endif %}
      {% endfor %}
    {% endif %}
  </p>
  <!-- /.blog-post-meta -->

</div>
<!-- /.blog-post -->

{% endfor %}