/*

test.scss

Include this file in the main.scss to test sass functions, mixins and CSS

 */



// TESTING MEDIA QUERIE MIXINS
// ---------------------------


 body,
 html {

   background: red !important;

   @include mq-large-only {
     background: green !important;
   }
   @include mq-medium-only {
     background: yellow !important;
   }
   @include mq-small-only {
     background: orange !important;
   }
 }