---
---

/*
 * custom.css
 */

.post-figure {
  margin: 0;
}

.comments {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee
}

@import 'base/typography';
@import 'theme/wru-theme';