// _wru_theme.scss

// Variables
$yellow: #D8AF4D;
$grey: #47423F;
$body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Change font color and font family
.theme-wru .sidebar-about h1,
html {
  font-family: $body;
  color: $grey;
}

// Needed for line appearing underneath post titles
body {
  overflow-x: hidden
}

// Change sidebar font color and background color
.theme-wru .sidebar {
  color: $grey;
  background-color: $yellow;
  background-image: url("https://user-images.githubusercontent.com/9139991/83759038-f6fb3f00-a640-11ea-8ff4-50d05bfcea5e.png"), url("https://user-images.githubusercontent.com/9139991/83759054-fbbff300-a640-11ea-9815-6eedc1a309ca.png");
  background-position: left bottom, top right;
  background-repeat: no-repeat;
}

// Change color of links other than the post title
.theme-wru .content a:not(.post-title),
.theme-wru .related-posts li a:not(.post-title):hover {
  color: $yellow;
}

// Change color of the post title
.theme-wru .content .post-title a {
  color: $grey;
}

// Add line after title
.theme-wru .post-title {
  position: relative;
  margin-bottom: 30px;
}

.theme-wru .post-title:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -9px;
  height: 3px;
  width: 100%;
  padding-right: 100vw;
  left: 0;
  background: $yellow;
}

// Reorientate the line on reverse layout
.theme-wru.layout-reverse .post-title:after {
  padding-left: 100vw !important;
  padding-right: unset;
  left: unset;
  right: 0 !important;
}