<section class="section" id="experience">
  <h2>Experience</h2>
  <div>
    <section>
      <h3>Work</h3>
      {% assign sorted_experiences = site.experiences | sort: "start_date" | reverse %}
      {% for exp in sorted_experiences %}
      <article data-aos="fade-right">
        <header>
          <h4>{{ exp.company }}</h4>
          <p>
            <span class="job-title">{{ exp.title }}</span>
            <time datetime="{{ exp.start_date }}">{{ exp.start_date | date: "%b %Y" }}</time> - <time datetime="{{ exp.end_date }}">{{ exp.start_date | date: "%b %Y" }}</time> <br>
            <span class="location">{{ exp.location }}</span>
          </p>
        </header>
        {{ exp.content }}
      </article>
      {% endfor %}
    </section>
    <section>
      <h3>Education</h3>
      <article data-aos="fade-right">
        <header>
          <h4>UCF</h4>
        </header>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab praesentium asperiores veritatis vero. Sapiente nisi fugiat modi asperiores labore, obcaecati, reprehenderit rerum, quia facilis consectetur totam possimus! Quia, placeat ipsum.</p>
      </article>
      <article data-aos="fade-right">
        <header>
          <h4>Seminole State College</h4>
        </header>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, labore accusantium. Voluptate est ex quaerat quisquam possimus, velit aspernatur et tenetur alias saepe provident non, adipisci illo voluptatum! Quibusdam, accusamus?</p>
      </article>
    </section>
  </div>
</section>