<header class="site-masthead" id="masthead">
  <div class="site-masthead-inner">
    <div class="site-header" id="header">
      <p class="site-title">
        <a href="/">{{ site.title }}</a>
      </p>
      <p class="site-byline">{{ site.description }}</p>
    </div>

    <nav class="site-nav" id="navigation">
      <ul>
        {% assign nav_pages = site.html_pages  %}
        {% for nav_page in nav_pages %}
          {% if nav_page.title != 'Contact Success'  %}
          <li><a class="site-nav-item {% if nav_page.url == page.url%}active{% endif %}" href="{{nav_page.url}}">{{nav_page.title}}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
<!-- /.site-masthead -->