<header class="three columns site-sidebar">
  <div class="site-sidebar-inner">

  <div class="side-sidebar-module side-sidebar-module--info">
    <a href="{{site.baseurl}}/index.html" title="{{site.title}}">
      <img class="site-logo" src="{{site.baseurl}}/img/logo.jpg" alt="">
      <div class="site-logo-inner">
        <h1 class="site-title">{{site.title}}</h1>
        <p class="site-tagline">{{site.description}}</p>
      </div>
    </a>
  </div>

  <nav class="site-sidebar-module site-sidebar-module--menu">
    <ul>
      {% comment %}
      Generate the site's navigation by assigning all of the
      sites available pages into a variable and then looping
      over that variable to output the page with markup.
      {% endcomment %}

      {% assign pages = site.pages %}

      {% for page in pages %}

        {% comment %}
        If the page does not have a title then prevent
        it from being generated in the navigation list.
        {% endcomment %}
        {% if page.title != null %}

          {% if page.layout == 'page' or page.title == 'Home' %}

          {% comment %}
          Add conditional to add a class when current page.
          {% endcomment %}

          <li class="site-nav-item {% if page.url == page.url %}site-nav-item--current{% endif %}">
            <a class="site-nav-link" href="{{page.url}}">
              {{page.title}}
            </a>
          </li>

          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </nav>

  <nav class="site-sidebar-module site-sidebar-module--social">
    <ul>
      {% for social_account in site.social_accounts %}
        <li class="site-nav-item">
          <a class="site-nav-link" href="{{social_account[1]}}" target="_blank">{{social_account[0] | capitalize}}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  </div>
</header><!-- /.site-sidebar -->