<section class="section" id="skills">
  <h2>Skills</h2>
  <div class="skills">
    <button class="skill button">HTML</button>
    <button class="skill button">WordPress</button>
    <button class="skill button">Shopify</button>
    <button class="skill button">CSS</button>
    <button class="skill button">JavaScript</button>
    <button class="skill button">PHP</button>
    <button class="skill button">React</button>
    <button class="skill button">Formidable</button>
    <button class="skill button">Advance Custom Fields</button>
    <button class="skill button">Klaviyio</button>
    <button class="skill button">Dawn theme</button>
    <button class="skill button">Shopify CLI</button>
    <button class="skill button">Git</button>
    <button class="skill button">GitHub</button>
    <button class="skill button">GitHub</button>
    <button class="skill button">GitHub</button>
    <button class="skill button">GitHub</button>
  </div>
</section>