/*
 * Blog Post
 */

.blog-post {
}

.blog-post .blog-post-title {
  font-size: 24px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.blog-post .blog-post-summary {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid $medium-gray;
}
.blog-post .blog-post-meta {
  font-size: smaller;
  color: $medium-gray;

  a {
    color: $medium-gray;
    font-weight: 500;
  }
}
// separator span with vertical line
.blog-post-meta .sep {
    font-size: 16px;
    font-weight: 600;
}