/*------------------------------------*\
  #_grid.scss
\*------------------------------------*/

.container {
  position: relative;
  
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: $global-width;
  margin-left: auto;
  margin-right: auto;
  padding: ($global-padding / 2) $global-padding;
  background-color: $container-background;
  
  
  // Border Radius 
  
  .blog-masthead & {  
    border-top-left-radius: $global-radius;
    border-top-right-radius: $global-radius;
  }
  
  &.blog-content {
    border-bottom-left-radius: $global-radius;
    border-bottom-right-radius: $global-radius; 
  }
  
  
  .row {
    flex: 1;
    display: flex;
    flex-direction: column;
    
    @media screen and (min-width: #{$global-breakpoint}) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}