/*------------------------------------*\
  #_pager.scss
\*------------------------------------*/


.pager {
  // flex display
  display: flex;
  flex-flow: row wrap;
  
  @extend .list-unstyled;
  margin-bottom: $global-padding * 4;
  
  
  // elements 
  > li {
    
    > a {
      @extend %button;
      display: block;
      text-align: center;
      width: 140px;
      border-radius: $global-rounded;
    }
  }
  
  
  // modifiers
  &.pager-left { // default
    justify-content: flex-start;
  }
  &.pager-justified {
    justify-content: space-between;
  }
  &.pager-right {
    justify-content: flex-end;
  }
}