/*
 * Typography
 */

/*
 * Headers
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  letter-spacing: -0.02rem;
  font-weight: 600;
}


/*
 * Subheaders
 */

.subheader {
  font-size: 30px;
}

/*
 * Anchors
 */
a {
  text-decoration: none;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }
}