---
---

/* Responsive images
 *
 */
img {
  width: 100%;
  height: auto;
}

/* Hide avatar on mobile.
 *
 */
@media (max-width: 48em) {
  .sidebar-avatar {
    display: none;
  }
}

/* Remove overflow caused by AOS
 *
 */
.content.container {
  overflow: hidden;
}

@import 'base/typography';
@import 'base/buttons';
@import 'components/content-grid';
@import 'components/sections';
@import 'components/projects';
@import 'components/skip-link';
@import 'components/smooth-scroll';