/*------------------------------------*\
  #_header.scss
\*------------------------------------*/

.blog-header {
  padding: ($global-padding * 2 ) 0;
  border-radius: $global-radius;
}
.blog-title {
  padding-top: 30px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 42px;
  letter-spacing: -1px;
}
.blog-description {
  font-size: 22px;
}