/*------------------------------------*\
  #_navigation.scss
\*------------------------------------*/

.blog-nav {
  display: flex;
  flex-flow: column wrap;
  margin: 0 -$global-padding;
  padding: $global-padding 0;
  background: hsl(0,0,15%);
  
  @media screen and (min-width: #{$global-breakpoint}) {
    flex-direction: row;
    // justify-content: space-around;
    // text-align: center;
  }
  
  .blog-nav-item {
    // flex: 1 0 auto;
    padding: $global-padding ($global-padding * 2);
    color: $white;
    text-decoration: none;
    
    // border-right: 1px solid $white;
    // &:last-child {
    //   border-right: none;
    // }
    
    
    &:hover,
    &:focus {
      background: hsl(0,0,25%);
    }
  }
}