// _navigation.scss

// .nav {}

.nav--main {
  margin-left: -10px;
  margin-right: -10px;
}


.nav__list {
  padding: 0;
  list-style: none;
  text-decoration: none;
}


.nav__item {
  width: 100%;
  margin-bottom: 0;
}


.nav__link {
  padding: 10px;
  display: block;
  color: $brand-color;

  &:focus,
  &:hover {
    color: $text-color;
    // background:rgba(0,0,0,0.4);
  }
}

// bem boolean modifier class
// .nav__link_active {
//   // background:rgba(0,0,0,0.2);
//   color: $brand-color;
// }
