// _navigation.scss

// .nav {}

.nav--main {
  margin-left: -10px;
  margin-right: -10px;
}


.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}


.nav__item {
  width: 100%;
  margin-bottom: 0;
}


.nav__link {
  padding: 10px;
  display: block;
  color: $brand-color;

  &:focus,
  &:hover {
    color: $text-color;
  }
}