/*
 * Pagination
 *
 * Mimicing the pagination seen on Hyde.
 *
 * Spans are used when no link, anchor tags are used when there is.
 */

.pagination {
  display: flex;
  margin: 3rem 0;
  text-align: center;
}

.pagination .pagination-item {
  width: calc(100% / 2);
  padding: 1rem;
  border: 1px solid;
  margin-bottom: 0;
  text-decoration: none;
}

.pagination .pagination-item:hover {
  background-color: gainsboro;
  text-decoration: underline;
}

.pagination span.pagination-item {
  border-color: #bbb;
  color: #bbb;
}

.pagination span.pagination-item:hover {
  text-decoration: none;
}

.pagination a.pagination-item {
  border-color: #bbb;
}

.pagination .pagination-item.older {
  margin-bottom: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination .pagination-item.newer {
  margin-left: -1px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}