/*
 * Projects section
 */

 .project__image {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  object-fit: contain;
}

.project .project__title,
.project .project__link {
  color: initial;
  transition: color 0.3s ease;
}

.project .project__image {
  object-fit: contain;
  transition: transform 0.3s ease;
}

.project:hover .project__image,
.project:has(:focus) .project__image {
  transform: scale(1.1);
  z-index: 2;
}

.project:hover .project__title,
.project:hover .project__link {
  color: inherit;
}

@media screen and (prefers-reduced-motion: reduce) {
  .project .project__image {
    transition: none;
  }
  .project:has(:focus) .project__image,
  .project:hover .project__image {
    transform: none;
  }
  .project .project__title,
  .project .project__link {
    transition: none;
  }
}