/*
social links

a list element containing links to various social media sites
 */


.social-links {
  margin-bottom: 20px;
}

.social-links__item {
  margin-bottom: 0;
  font-size: 80%;
}

.social-links__link {}