<!doctype html>
<html class="no-js" lang="en-us">

  {% include head.html %}

  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <div class="container site">
      <div class="row">

        {% include sidebar.html %}

        <main class="eight columns offset-by-four site-main">

            {{content}}

        </main><!-- /.blog-main -->

        <!-- Scripts -->
        {% include scripts.html %}</div>
    </div><!-- /.container.site -->
  </body>
</html>