---
layout: default
---


<div class="blog-header">
  <h1 class="blog-title">
    {% comment %}

    If it's the home page, print out the site's title instead.

    {% endcomment %}

    {% if page.title == "Home" %}
      {{ site.title | capitalize }}</h1>
    {% else %}
      {{ page.title | capitalize }}</h1>
    {% endif %}
  </h1>
  <!-- <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p> -->
</div>

<div class="row">

  <div class="blog-main">


    {{ content }}


    {% include pager-nav.html %}


  </div>
  <!-- /.blog-main -->

  {% include sidebar.html %}

</div>
<!-- /.row -->
