/*
 * Blog Sidebar
 */

.blog-sidebar {

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include mq-medium-up {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    height: 100%;
    width: 250px;
  }

  font-size: 18px;

  @include mq-small-up {
    font-size: 20px;
  }

  text-align: center;
  background: $light-grey;

  // remove underline for anchors inside sidebar
  a {
    text-decoration: none;
  }
}


/* SIDEBAR MODULES */

.sidebar-module {
  padding: 0 10px;

  @include mq-small-up {
    padding-top: 20px;
  }
}

.sidebar-module--social {
  margin-top: auto;
}

// .sidebar-module--main-nav {}

.sidebar-module--brand {
  padding-top: 20px;
  @include mq-small-up {
    padding-top: 40px;
  }
}