// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
  font-family: 'Roboto';
  src: font('roboto/roboto_regular_macroman/Roboto-Regular-webfont.eot');
  src: font('roboto/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       // font('roboto/roboto_regular_macroman/Roboto-Regular-webfont.woff2') format('woff2'),
       font('roboto/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'),
       font('roboto/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'),
       font('roboto/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: font('roboto/roboto_italic_macroman/Roboto-Italic-webfont.eot');
  src: font('roboto/roboto_italic_macroman/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
       // font('roboto/roboto_italic_macroman/Roboto-Italic-webfont.woff2') format('woff2'),
       font('roboto/roboto_italic_macroman/Roboto-Italic-webfont.woff') format('woff'),
       font('roboto/roboto_italic_macroman/Roboto-Italic-webfont.ttf') format('truetype'),
       font('roboto/roboto_italic_macroman/Roboto-Italic-webfont.svg#robotoregular') format('svg');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: font('roboto/roboto_bold_macroman/Roboto-Bold-webfont.eot');
  src: font('roboto/roboto_bold_macroman/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       // font('roboto/roboto_bold_macroman/Roboto-Bold-webfont.woff2') format('woff2'),
       font('roboto/roboto_bold_macroman/Roboto-Bold-webfont.woff') format('woff'),
       font('roboto/roboto_bold_macroman/Roboto-Bold-webfont.ttf') format('truetype'),
       font('roboto/roboto_bold_macroman/Roboto-Bold-webfont.svg#robotoregular') format('svg');
  font-style: italic;
  font-weight: 700;
}
