/**
 * Basic typography style for copy text
 */

body {
  color: $text-color;
  // font: normal 18px / 1.4 $text-font-stack;
  font-style: normal;
  font-size: 1em;
  line-height: 1.5;
  font-family: $text-font-stack;
}

