/**
 * Basic typography style for copy text
 */

body {
  color: $text-color;
  font: normal 125% / 1.4 'Roboto'; //, $text-font-stack;
}

h1,h2,h3,h4,h5,h6
{
  margin: 0 0 .5em;
  font-weight: 500;
  line-height: 1.1;
}
